/* Author: Mary Joy Samarita */
/* Portfolio Project - 2025 */
/* Contact me for full code */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
